# Git
.git/
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
build/
dist/
wheels/
*.egg-info/
.venv/

# Environment
.env
.env.*

# Testing
tests/
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Downloads
downloads/
*.part

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
LICENSE
